:required {
    background-color:#F2A3BB;
}


/* Sur les écrans, quand la largeur de la fenêtre fait au maximum 480px */
@media screen and (max-width: 480px){
    fieldset{
        text-align: justify;
        overflow: auto;
    }
}
/* Sur tous types d'écran, quand la largeur de la fenêtre est comprise entre 481px et 768px */
@media all and (min-width: 481px) and (max-width: 768px){
    fieldset{
        text-align: justify;
        overflow: auto;
    }
}
/* Sur tous types d'écran, quand la largeur de la fenêtre est comprise entre 769px et 1024px */
@media all and (min-width: 769px) and (max-width: 1024px){
    fieldset{
        text-align: justify;
        overflow: auto;
    }
}
/* Sur tous types d'écran, quand la largeur de la fenêtre est comprise entre 1025px et 1600px */
@media all and (min-width: 1025px) and (max-width: 1600px){
    fieldset{
        text-align: justify;
        overflow: auto;
    }
}
/* Sur les écrans, quand la largeur de la fenêtre fait au moins 1601px */
@media screen and (min-width: 1601px){
    fieldset{
        text-align: justify;
        overflow: auto;
    }
}
/* Sur tous types d'écrans orientés verticalement */
@media all and (orientation: portrait){
    fieldset{
        text-align: justify;
        overflow: auto;
    }
}